<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>用户中心</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type = "text/css" th:href="@{/css/global.css}" />
    <style>
        .badge-warning {
            color: #71716999;
            background: #ffb700c4;
        }

        #table-title tr th {
            border: none;
        }
    </style>
</head>
<body style="background: rgb(247,248,249);">

<div th:replace="common/header::header(activeUrl='user')"></div>
<main role="main" class="container">
    <div class="row">

        <aside class="col-md-3 blog-sidebar" th:fragment="userShowPanel">

            <div class="p-4 my-3 bg-white rounded">
                <div class="mb-0">
                    <div class="text-center">
                        <span th:text="${user.username}"></span>
                        <br>
                        <small>
                            <!--<span class="badge badge-primary">普通用户</span>-->
                            <span th:if="${user.type==1}"
                                    th:class="${user.type==1?'badge badge-success':''}"
                                    th:text="${user.type==1?'管理员':''}">
                            </span>
                            <br th:if="${user.type==1}">
                            <input type="hidden" id="entityId" th:value="${user.id}">
                            <a th:href="@{'/user/attention/'+${label}+'/'+${user.id}+'?page='+${label2}+'&limit=10'}" th:if="${loginUser!=null&&loginUser.id!=user.id}">
                                <button style="margin-left:48px" type="button" th:class="|btn ${hasFollowed?'btn-secondary':'btn-info'} btn-sm  mr-5 follow-btn|"
                                        th:text="${hasFollowed?'已关注':'关注TA'}" >关注TA</button>
                            </a>

                            <br>
                            <span>关注 <a class="text-primary" th:href="@{|/user/follow/${user.id}|}" th:text="${followeeCount}">5</a> 人</span>
                            <br>
                            <span>粉丝 <a class="text-primary" th:href="@{|/user/fans/${user.id}|}" th:text="${followerCount}">123</a> 人</span>
                        </small>
                        <p class="text-center">
                            <small th:text="${major}"></small>
                        </p>
                        <p>
                            <span th:each="hobby:${hobbies}"
                                  th:text="${work}"
                                  class="badge badge-light mr-1"></span>
                        </p>
                        <p>
                        <table class="table">
                            <thead id="table-title">
                            <tr>
                                <th scope="col">博客</th>
                                <th scope="col">问答</th>
                                <th scope="col">论文</th>
                                <th scope="col">资源</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${bcount}">0</td>
                                <td th:text="${qcount}">0</td>
                                <td th:text="${pcount}">0</td>
                                <td th:text="${scount}">0</td>
                            </tr>
                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
            <span th:text="${regMsg}" style="color: green"></span>
            <form method="GET" th:action="@{'/user/searchByName'}">
                <div class="p-4 my-3 bg-white rounded">
                    <div style="margin-top:10px">
                        <input  class="input is-small" type="text" name="username" placeholder="输入用户名..." aria-label="Search term or terms" required>
                    </div>
                </div>
                <div class="my-3 rounded">
                    <p class="mb-0">
                        <button class="btn btn-primary btn-sm btn-block"
                                style="color: white">搜索用户</button>
                    </p>
                </div>
            </form>
        </aside>

        <div class="col-md-9 blog-main">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">
                    <nav class="nav nav-pills">
                        <a th:class="${label=='blog'?'nav-link active':'nav-link'}"
                           th:href="@{'/user/blog/'+${user.id}+'?page=1&limit=10'}">
                            <svg class="bi bi-receipt-cutoff" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                                <path fill-rule="evenodd"
                                      d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            博客
                        </a>
                        <a th:class="${label == 'question'?'nav-link active':'nav-link'}"
                           th:href="@{'/user/question/'+${user.id}+'?page=1&limit=10'}">
                            <svg class="bi bi-blog-square" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                            问答
                        </a>
                        <a th:class="${label == 'paper'?'nav-link active':'nav-link'}"
                           th:href="@{'/user/paper/'+${user.id}+'?page=1&limit=10'}">
                            <svg class="bi bi-chat-dots" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            论文
                        </a>
                        <a th:class="${label == 'source'?'nav-link active':'nav-link'}"
                           th:href="@{'/user/source/'+${user.id}+'?page=1&limit=10'}">
                            <svg class="bi bi-chat-dots" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            资源
                        </a>
                    </nav>
                </h6>

                <div th:if="${label=='question'||label=='blog'}" th:each="blog:${info.getList()}" class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="margin-left: 5px">
                        <span style="color:#71716999;background: #ffb700c4" class="badge badge-danger float-right"
                              th:text="${blog.getAuthorName()}"></span>
                        <a class="text-dark font-weight-bold text-decoration-none d-block"
                           th:if="${label =='blog'}"
                           th:href="@{'/'+${label}+'/read/'+${blog.getBid()}}"
                           th:text="${blog.getTitle()}"></a>
                        <a class="text-dark font-weight-bold text-decoration-none d-block"
                           th:if="${label =='question'}"
                           th:href="@{'/'+${label}+'/read/'+${blog.getQid()}}"
                           th:text="${blog.getTitle()}"></a>
                        <!--<a class="text-dark font-weight-bold text-decoration-none d-block"
                           th:if="${label =='blog'}"
                           th:href="@{'/'+${label}+'/read/'+blog.getBid()}"
                           th:text="${blog.getTitle()}"></a>-->
                        <span>
                    <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                              <path fill-rule="evenodd"
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                        [[${blog.getViews()}]]
                    </span>
                        <span class="badge badge-light float-right"
                              th:text="${#dates.format(blog.getGmtUpdate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                    </p>
                </div>
                <div th:if="${label=='paper'||label=='source'}" th:each="blog:${info.getList()}" class="media text-muted pt-3">

                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="margin-left: 5px">
                        <li style="color:#71716999;background: #ffb700c4"  class="badge badge-danger float-right"  th:text="${blog.getFilepath()}"></li>
                        <a th:if="${label=='source'}" style="color:#71716999;background: #24b75d"  class="badge badge-danger float-right"
                           th:href="@{'/source/list?status='+${blog.getStatus()}}" th:text="${blog.getFatherid()}"></a>
                        <!--标题 且根据id号 查询数据 跳转到指定的页面-->
                        <a th:href="@{'/detail?id='+${blog.getId()}}" th:text="${blog.getTitle()}"
                           class="text-dark font-weight-bold text-decoration-none d-block"></a>

                        <!--浏览量-->
                        <li class="d-inline ml-2">下载次数 <i th:text="${blog.getDownloadcount()}"></i></li>


                        <span th:text="${#dates.format(blog.getGmtcreate(),'yyyy-MM-dd HH:mm:ss')}"
                              class="badge badge-light float-right" ></span>
                    </div>

                </div>
                <!--分页-->
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination justify-content-center pagination-sm">
                        <!--往前翻 如果没有前一页 则禁用-->
                        <li th:class="${info.isHasPreviousPage()==true?'page-item':'page-item disabled'}">
                            <a class="page-link" th:href="@{'/user/'+${label}+'/'+${user.id}+'?page='+${info.getPrePage()}+'&limit=10'}"
                               tabindex="">Previous</a>
                        </li>

                        <div th:each="page:${info.getNavigatepageNums()}">
                            <li class="page-item" th:classappend="${page}==${info.getPageNum()}?'active':''">
                                <a class="page-link" th:href="@{'/user/'+${label}+'/'+${user.id}+'?page='+${page}+'&limit=10'}"
                                   th:text="${page}">
                                </a>
                            </li>
                        </div>
                        <li th:class="${info.isHasNextPage()==true?'page-item':'page-item disabled'}">
                            <a class="page-link"
                               th:href="@{'/user/'+${label}+'/'+${user.id}+'?page='+${info.getNextPage()}+'&limit=10'}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</main>
<div th:replace="common/footer::footer"></div>
<a class="to-top">返回顶部</a>

<th:block th:replace="common/footer::script"></th:block>
<script th:src="@{/js/profile.js}"></script>

</body>
</html>