<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页-数学视界</title>
    <link rel="stylesheet" type = "text/css" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" th:href="@{/css/global.css}" />

</head>
<body>
<div th:replace="common/header::header(activeUrl='index')"></div>
<main role="main">
    <div class="jumbotron" style="background-color: #ffffff;box-shadow: 0px -2px 10px #d0cccc inset;">
        <div class="container" >
            <h1 class="display-3">数学视界 </h1>
            <p style="margin-top: 2rem;">

            </p>
            <p style="margin-top: 2rem;">

            </p>
            <p><a th:if="${loginUser != null && loginUser.getType()==0}" class="btn btn-primary btn-lg" href="http://106.14.118.188:8080/user/file/1620616217261_4ab39fc1001b421a99a287390fdda49b.docx" role="button">使用手册</a></p>
            <p><a th:if="${loginUser != null && loginUser.getType()==1}" class="btn btn-primary btn-lg" href="http://106.14.118.188:8080/user/file/1620616217261_4ab39fc1001b421a99a287390fdda49b.docx" role="button">管理员手册</a></p>
            <span th:text="${deletePicMsg}" style="font-size:30px;color: green"></span>
        </div>
    </div>

    <div th:each="paper:${notice}" class="jumbotron" style="background-color: #ffffff;box-shadow: 0px -2px 10px #d0cccc inset;" >
        <div class="" style="margin-left: 5px">
            <span class="badge badge-info" >公告</span>
            <a style="color:#71716999;background: #ffb700c4"  class="" th:href="@{'/user/blog/'+${paper.userid}}" th:text="${paper.fatherid}"></a>
            <!--标题 且根据id号 查询数据 跳转到指定的页面-->
            <span style="" th:text="${paper.title}"
            ></span>
            <p  th:text="${paper.content}" style="rows:2"></p>

            <span th:text="${#dates.format(paper.gmtcreate,'yyyy-MM-dd HH:mm:ss')}"
            ></span>
        </div>
    </div>
</main>
<div th:replace="common/footer::footer"></div>
<!--<a class="to-top">返回顶部</a>-->

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/global.js}"></script>

</body>
</html>