<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>资源编辑</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>
    <style>
        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }

    </style>
</head>
<body style="background: #f2f2f2;">

<!-- 导航栏 -->
<div th:replace="common/header::header(activeUrl='source')"></div>

<main role="main" class="container mt-3 p-3 bg-white rounded">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">编辑资源</h4>
                <h2 class="mt-0 mb-3">
                    <a class="blog-post-title" th:utext="${paper.title}" th:href="@{|/user/file/${paper.title}|}"></a>
                </h2>

                <form class="needs-validation" enctype="multipart/form-data" th:action="@{/source/edit}" method="post">
                    <b class="label">资源ID:</b>
                    <input id="content2" name="id" class="input is-medium"
                           required="" type="text" th:value="${paper.id}" readonly>

                    <!--<div style="float:right" class="col-md-2 mb-3">
                        <label >资源分类:</label>
                        <label th:text="${statusName}"></label>
                    </div>-->
                    <div  style="float:right" class="col-md-2 mb-3">
                        <label for="country">资源分类</label>
                        <select name="status" class="custom-select d-block w-100" id="country">
                            <option th:if="${statusName!='代码'}" value=2>代码</option>
                            <option th:if="${statusName!='软件'}" value=6>软件</option>
                            <option th:if="${statusName!='文献'}" value=8>文献</option>
                            <option th:if="${statusName=='代码'}" value=2 selected>代码</option>
                            <option th:if="${statusName=='软件'}" value=6 selected>软件</option>
                            <option th:if="${statusName=='文献'}" value=8 selected>文献</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <b class="label">选择类别:</b>
                    <!--<input id="fatherid" name="fatherid" class="input is-medium"
                        required="" type="text" value="">-->
                    <a th:each="fid:${fathers}">
                        <label><input type="checkbox" name="fatherid" th:value="${fid.searchname}"
                                      th:utext="${fid.name}" checked></label>
                    </a>
                    <a th:each="fid:${otherfathers}">
                        <label><input type="checkbox" name="fatherid" th:value="${fid.searchname}"
                                      th:utext="${fid.name}"></label>
                    </a>
                    <br>
                    <b class="label" for="content">内容:</b><br>
                    <!--<input id="content" name="content" class="input is-medium"
                           required="" type="text" value="">-->
                    <div class="form-group">
                        <textarea style="border-radius: 10px" id="content" name="content" rows="3" required
                                  class="form-control" th:text="${paper.content}"></textarea>
                    </div>
                    <!-- <textarea id="content1" name="content" class="input is-medium"
                               required="" type="text" th:text="${paper.content}"></textarea>-->
                    <!--<div class="col-md-2 mb-3">
                        <label for="country">标签</label>
                        <select name="categoryId" class="custom-select d-block w-100" id="country">
                            <option th:each="classification:${classificationList}"
                                    th:value="${classification.getId()}" th:text="${classification.getName()}">
                            </option>
                        </select>
                    </div>-->

                    <!--<div class="col-md-12 mb-3">
                        <p>提问详情</p>
                        <div id="blog-content">
                            <textarea required name="content" id="content" style="display:none;" rows="3"
                                      class="form-control"> </textarea>
                        </div>
                    </div>-->


                    <button class="btn btn-primary btn-lg btn-block" type="submit">立即上传</button>
                </form>
            </div>
        </div>
    </div>
</main>


<div th:replace="common/footer::footer"></div>
<a class="to-top">返回顶部</a>
<th:block th:replace="common/footer::script"></th:block>

</body>
</html>