<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>资源详情</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type = "text/css" th:href="@{/css/global.css}" />
    <style>
        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }
    </style>
</head>
<body style="background:rgb(247,248,249);">

<!-- 导航栏 -->
<div th:replace="common/header::header(activeUrl='source')"></div>

<main role="main" class="container mt-3 p-3 bg-white rounded">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="blog-post">
                <h2 class="mt-0 mb-3">
                <a class="blog-post-title" th:href="@{|${paper.filepath}|}" th:utext="${paper.title}"></a>
                </h2>
                    <div class="mb-3"><!--论文简介-->
                    <!--<b th:if="${paper.status}==0">摘要：</b>
                    <b th:if="${paper.status}==2">资源描述:</b>-->
                        <b>资源描述:</b>
                    <h th:utext="${paper.content}">简介内容</h>
                    <br>
                    <b>类别：</b><!--论文所属标签-->
                    <h class="mb-3" th:each="fathername:${fathernames}">
                        <h th:utext="${fathername}">标签</h>
                    </h>
                </div>

                <p class="blog-post-meta">
                    <!--<span th:text="${#dates.format(question.getGmtUpdate(),'yyyy-MM-dd HH:mm:ss')}"></span>-->
                    <h th:text="${#dates.format(paper.gmtcreate,'yyyy-MM-dd HH:mm:ss')}"></h>
                    by
                    <a style="color:#71716999;background: #ffb700c4" class="badge badge-danger"
                       th:text="${username}" th:href="@{|/user/blog/${userid}|}"></a>
                    <span>
                <h th:if="${paper.status}==0" style="float:right">下载次数：<h th:text="${paper.downloadcount}"></h></h>
        </span>
                    <!--自己可以删除编辑文章 当然管理员也可以-->
                <div class="float-right"
                     th:if="${loginUser != null&&((loginUser.getId()==userid)||loginUser.getType()==1)}">
                    <input type="hidden" id="pid" th:value="${paper.id}">
                    <a style="color:red" th:href="@{'/source/delete/'+${paper.id}}"
                       onclick="if(!confirm('确定删除吗?')) return false;">
                        <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                        删除</a>

                    <a style="color:#24b75d" th:href="@{'/source/edit/'+${paper.id}}">
                        <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        编辑</a>
                <a id="passBtn" style="color:#24b75d" th:if="${(loginUser.type==1)&&paper.status == 3}" href=#>
                    <svg t="1619591128432" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="786" width="14" height="14">
                        <path d="M806.016 310.848L640 136.96v173.888h166.016zM832 377.92H576v-268.16H192v804.48h640v-536.32zM160 42.688H640l256 268.16v636.992a33.472 33.472 0 0 1-8.96 24.064 30.4 30.4 0 0 1-23.04 9.408h-704a30.4 30.4 0 0 1-23.04-9.408 33.472 33.472 0 0 1-8.96-24.064V76.16c0-9.728 3.008-17.792 8.96-24.064A30.4 30.4 0 0 1 160 42.688z m318.016 609.728l180.992-189.632 46.016 47.168-227.008 237.76L320 581.184l44.992-47.168 113.024 118.4z"
                              fill="#24b75d" p-id="787"></path></svg>
                    通过
                </a>
                    <!--<button id="passBtn" style="color:#24b75d" th:if="${(loginUser.type==1)&&paper.status == 3}">通过</button>-->
                </div>
                </p>
            </div>
            <!--<hr style="margin-top: 18px">-->
            <!--<div id="doc-content">
                <textarea style="display:none;" placeholder="markdown" th:text="${question.getContent()}"></textarea>
            </div>-->
            <div class="col-md-12 blog-main" style="margin-top: 20px">
                <hr>
            </div>





            <div class="col-md-12 blog-main" style="margin-top: 20px;">
                <form th:action="@{|/source/add/${paper.id}|}" method="post">
                    <input type="hidden" name="entitytype" value="4">
                    <input type="hidden" name="entityid" th:value="${paper.id}">
                    <input type="hidden" name="targetid" th:value="${paper.userid}">
                    <div class="form-group">
                        <textarea style="border-radius: 10px" name="content" rows="3" required
                                  class="form-control"></textarea>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary " value="提交评论">
                </form>
                <div class="col-md-12 blog-main" style="margin-top: 20px">
                    <hr>
                </div>

                <!-- 回帖列表 -->

                <div class="col-md-12 blog-main" >
                    <hr>
                </div>
                <div class="col-md-12 blog-main" style="margin-top: 20px">
                    <!--取消ul左侧缩进 -->
                    <ul class="list-unstyled">
                        <li class="my-3 p-3 bg-white rounded shadow-sm" th:each="cvo:${comments}">

                            <div class="media-body">
                                <div>
                                    <a class="font-size-12 text-success" th:href="@{'/user/blog/'+${cvo.user.id}}" th:utext="${cvo.user.username}"></a>:
                                    <span class="mt-2" th:utext="${cvo.comment.content}">

                                </span>
                                    <span class="badge badge-secondary float-right floor">
									<i th:text="${(info.getPageNum()-1)*10 + cvoStat.count}">1</i>#
								</span>
                                </div>
                                <div class="text-muted font-size-12">
                                    <span class="font-size-9 text-muted"> <b  th:text="${#dates.format(cvo.comment.createtime,'yyyy-MM-dd HH:mm:ss')}"></b></span>
                                    <ul class="d-inline float-right">

                                        <li class="d-inline ml-2">|</li>
                                        <li class="d-inline ml-2"><a href="#" class="btn-light">回复(<i th:text="${cvo.replyCount}">2</i>)</a></li>
                                    </ul>
                                </div>
                                <!-- 回复列表 -->
                                <ul class=" font-size-12 text-muted" style="list-style-type: none">

                                    <li class=" mb-7 " th:each="rvo:${cvo.replys}">
                                        <div>
										<span th:if="${rvo.target==null}">
											<a class="text-info" th:href="@{'/user/blog/'+${rvo.user.id}}" th:text="${rvo.user.username}"></a>:&nbsp;&nbsp;
										</span>
                                            <span th:if="${rvo.target!=null}">
											<a class="text-info" th:href="@{'/user/blog/'+${rvo.user.id}}" th:text="${rvo.user.username}"></a> 回复
											<a class="text-info" th:href="@{'/user/blog/'+${rvo.target.id}}" th:text="${rvo.target.username}"></a>:&nbsp;&nbsp;
										</span>
                                            <span th:utext="${rvo.reply.content}"></span>
                                        </div>
                                        <div>
                                            <span class="font-size-9 text-muted" th:text="${#dates.format(rvo.reply.createtime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                            <ul class="d-inline float-right">
                                                <!--                                            <li class="d-inline ml-2"><a href="#" class="text-primary">赞(1)</a></li>-->
                                                <li class="d-inline ml-2">|</li>
                                                <li class="d-inline ml-2"><a th:href="|#huifu-${cvo.comment.id}-${rvoStat.count}|" data-toggle="collapse" class="text-primary">回复</a></li>
                                            </ul>
                                            <div th:id="|huifu-${cvo.comment.id}-${rvoStat.count}|" class="mt-4 collapse">
                                                <form method="post" th:action="@{|/source/add/${paper.id}|}">
                                                    <div>
                                                        <input style="width:90%" type="text" class="input-size" name="content" th:placeholder="|回复${rvo.user.username}|" required/>
                                                        <input type="hidden" name="entitytype" value="1">
                                                        <input type="hidden" name="type" value="1">
                                                        <input type="hidden" name="entityid" th:value="${cvo.comment.id}">
                                                        <input type="hidden" name="targetid" th:value="${rvo.user.id}">
                                                        <button type="submit" style="float:right" class="btn btn-light btn-sm" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 回复输入框 -->
                                    <li class="pb-3 pt-3">
                                        <form method="post" th:action="@{|/source/add/${paper.id}|}">
                                            <div>
                                                <input style="width:90%" type="text" class="input-size" name="content" placeholder="请输入你的观点" required/>
                                                <input type="hidden" name="entitytype" value="1">
                                                <input type="hidden" name="type" value="0">
                                                <input type="hidden" name="entityid" th:value="${cvo.comment.id}">
                                                <button type="submit" style="float:right" class="btn btn-light btn-sm" onclick="#">&nbsp;&nbsp;回&nbsp;&nbsp;复&nbsp;&nbsp;</button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>


            <nav aria-label="Page navigation example" class="mt-4">
                <ul class="pagination justify-content-center pagination-sm">
                    <!--往前翻 如果没有前一页 则禁用-->
                    <li th:class="${info.isHasPreviousPage()==true?'page-item':'page-item disabled'}">
                        <a class="page-link" th:href="@{'/source/detail?id='+${paper.id}+'&page='+${info.getPrePage()}+'&limit=10'}"
                           tabindex="">Previous</a>
                    </li>

                    <div th:each="page:${info.getNavigatepageNums()}">
                        <li class="page-item" th:classappend="${page}==${info.getPageNum()}?'active':''">
                            <a class="page-link" th:href="@{'/source/detail?id='+${paper.id}+'&page='+${page}+'&limit=10'}"
                               th:text="${page}">
                            </a>
                        </li>
                    </div>
                    <li th:class="${info.isHasNextPage()==true?'page-item':'page-item disabled'}">
                        <a class="page-link"
                           th:href="@{'/source/detail?id='+${paper.id}+'page='+${info.getNextPage()}+'&limit=10'}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>

<div th:replace="common/footer::footer"></div>
<a class="to-top">返回顶部</a>
<th:block th:replace="common/footer::script"></th:block>
<script type="text/javascript">
    $(function(){
        $("#passBtn").click(setPass);
    });

    // 审核通过
    function setPass() {
        $.post(
            "/paper/pass",
            {"pid":$("#pid").val()},
            function(data) {
                data = $.parseJSON(data);
                if(data.code == 0) {
                    alert("审核通过……");
                } else {
                    alert(data.msg);
                }
            }
        );
    }
</script>
</body>
</html>