<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>资源发布</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>
    <style>
        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }



    </style>
</head>
<body style="background: #f2f2f2;">

<!-- 导航栏 -->
<div th:replace="common/header::header(activeUrl='source')"></div>

<main role="main" class="container mt-3 p-3 bg-white rounded">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">上传资源</h4>

                <form class="needs-validation" enctype="multipart/form-data" th:action="@{/source/upload}"
                      method="post">
                    <!-- 隐藏域 -->
                    <!--<input type="hidden" name="authorId" th:value="${user.getId()}">
                    <input type="hidden" name="authorName" th:value="${user.getUsername()}">-->
                    <!--<input type="hidden" name="authorAvatar" th:value="${session.loginUser.getAvatar()}">-->


                    <!--<div class="col-md-10 mb-3">
                        <label for="firstName">提问标题</label>
                        <input type="text" name="title" class="form-control" id="firstName" value="" required>
                    </div>-->
                    <div class="row">
                        <div class="col-md-10 mb-3">
                            <label for="country">上传文件</label>
                            <br>
                            <input type="file"
                                   id="paperfile" name="paperfile" lang="es" required="">
                        </div>

                        <div class="col-md-2 mb-3">
                            <label for="country">资源分类</label>
                            <select name="status" class="custom-select d-block w-100" id="country">
                                <option value=3>代码</option>
                                <option value=7>软件</option>
                                <option value=9>文献</option>
                            </select>
                        </div>
                        <br>
                        <b style="margin-left:15px" class="label">选择类别:</b>
                        <a th:each="category:${classificationList}">
                            <label><input type="checkbox" name="fatherid" th:value="${category.searchname}"
                                          th:utext="${category.name}"></label>
                        </a>
                    </div>
                    <br>
                    <b class="label" for="content">内容:</b><br>
                    <div class="form-group">
                        <textarea style="border-radius: 10px" id="content" name="content" rows="3" required
                                  class="form-control"></textarea>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">立即上传</button>
                </form>
            </div>
        </div>
    </div>
</main>


<div th:replace="common/footer::footer"></div>
<a class="to-top">返回顶部</a>
<th:block th:replace="common/footer::script"></th:block>


</body>
</html>