<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.InvitationCodeMapper">
    <sql id="insertFields">
        code,admin_id
    </sql>
    <sql id="selectFields">
        id,code,admin_id
    </sql>
    <select id="selectByCode" resultType="InvitationCode">
        select <include refid="selectFields"></include>
        from invitation_code
        where code = #{code}
    </select>
    <select id="selectById" resultType="InvitationCode">
        select <include refid="selectFields"></include>
        from invitation_code
        where id = #{id}
    </select>
    <select id="getAllCode" resultType="InvitationCode">
        select <include refid="selectFields"></include>
        from invitation_code
        order by id desc
    </select>
    <insert id="insertCode" parameterType="InvitationCode" keyProperty="id">
        insert into invitation_code (<include refid="insertFields"></include>)
        values(#{code},#{adminId})
    </insert>
    <delete id="deleteCodeById">
        delete from invitation_code where id = #{id}
    </delete>
</mapper>